@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    :root {
        --background-color : #FFFFFF;
        --secondary-color : #e8eced;
        --black-color: #000000;
        --hover-color: #4b9e22;
        --dark-color:  #343434;
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "poppins", "sans-serif";
        scroll-behavior: smooth;
    }
    body {
        background-color:var(--background-color) ;
        text-align: center;
    }
    .register {
        display: flex;
    flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin: 7% auto 0 auto;
    }
    .register img {
        width: 300px;
        max-width: 100%;
    }
    .register h3 { 
        margin: 25px auto;
        font-weight: 500;
    }
    #registerForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #registerForm input {
        margin: 10px;
        padding: 11px;
        width: 320px;
        height: 60px;
        border: 2px solid var(--secondary-color);
        font-size: 13px;
    }
    .registerBtn { 
        width: 320px;
        height: 60px;
        margin: 20px auto;
        font-size: 16px;
        letter-spacing: 1px;
        border: none;
        background-color: var(--black-color);
        color: var(--background-color);
        transition: all .3s ease;
    }
    .registerBtn:hover {
        background-color: var(--hover-color);
    }
    .backBtn {
        width: 320px;
        height: 50px;
        margin: auto;
        font-size: 14px;
        letter-spacing: .5px;
        border: none;
        background-color: var(--secondary-color);
        color: var(--black-color);
        transition: all .3s ease;
    }
    .backBtn:hover {
        color: var(--hover-color);
    }
